body {
  background-color: #c8defa;
}

h1 {
  color: rgb(52, 56, 94);
  font-family: 'Indie Flower', cursive;
}

h2, h4 {
  color: rgb(73, 121, 148);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
h3, h5 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(92, 105, 122);
}
p {
  display: block;
  font-family: 'Mukta', sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.slide {
  color: rgb(90, 90, 117); 
  height: 30px;	
  background-color: #c8defa;
  overflow: hidden;
 position: relative;
}
/* class*/
.container {
  padding-right: 17px;
  padding-left: 17px;
  margin-right: auto;
  margin-left: auto;
}
/*  nav */
.navbar {
  background-color: rgb(235, 193, 193);
  margin-bottom: 0;
  border-radius: 0;
  font-size: 1.2em;
  border: 0;
}
nav li {
  float: right;
  margin: auto 12px;
}
.nav-link {
  color: rgb(114, 143, 179);
  
}
.navbar-toggler {
  border: 2px solid rgb(35, 52, 68) ;
}
.collapse {
  float: right;
}
.btn {
  font-size: 20px;
  color: rgb(64, 91, 148);
  padding: 5px 25px;
  background-color:rgb(235, 193, 193);
  border: 3px solid rgb(243, 212, 212);
  border-radius: 4px;
}
.btn:hover {
  color: rgb(20, 22, 26);
  background-color:rgb(231, 74, 134);
}
/* index how we do it */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.hwdi {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-bottom: 22px;
}

.hwdi img {
  width: 100%;
  height: auto;
}

.hwdi .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

footer {
  background-color: rgb(235, 193, 193);
}
footer .btn {
  background-color: rgb(230, 50, 155);
  color: black;
  margin-top: 40px;
}
/* donate */
.jumbotron {
  background-image: url(img/donatehands.jfif);
}

/* homepage */
.carousel {
  margin: 90px auto;
  padding: 0 80px;
  position: relative;
  height: 400px;
}

.staff-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* missions*/
.card {
  border-spacing: 12px;
}

/* testimonials*/

.img-box {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}
.img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}


  /* ID */
#links {
  width: auto;
  height: auto;
}







/* media */
@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h2 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}