/* all */
body {
  background-color: #d3e6ff;
}

h1 {
  color: rgb(63, 85, 148);
  font-family: 'Lora', serif;
}

h2, h4 {
  color: rgb(46, 56, 70);
  text-align: center;
  font-family: 'Capriola', sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

h3, h5 {
  font-family: 'Lora', serif;
  color: rgb(47, 56, 68);
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
p {
  display: block;
  font-family: 'Raleway', sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  font-family: 'Capriola', sans-serif;

}
.btn {
  font-size: 20px;
  color: rgb(64, 91, 148);
  padding: 5px 25px;
  background-color: rgb(235, 193, 193);
  border: 3px solid rgb(243, 212, 212); 
  border-radius: 4px; 
} 
 
.btn:hover { 
  color: rgb(20, 22, 26); 
  background-color: rgb(231, 74, 134); 
}

/*  nav */
.navbar {
  background-color: rgb(235, 193, 193);
  margin-bottom: 0;
  border-radius: 0;
  font-size: 1.2em;
  border: 0;
}

nav li {
  float: right;
  margin: auto 12px;
}

.nav-link {
  color: rgb(134, 152, 202);
  font-family: 'Capriola', sans-serif;
}

.navbar-toggler {
  border: 2px solid rgb(207, 222, 235);
}

a:hover {
  color: rgb(231, 74, 134);
}

.collapse {
  color: #0a2549;
}



/* homepage */
.carousel {
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-control {
  color: rgb(110, 168, 204);
}

/* index how we do it */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.hwdi {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-bottom: 22px;
}

.hwdi img {
  width: 100%;
  height: auto;
}

.hwdi .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* donate */
.jumbotron {
  background-image:url(img/background.jfif);
  height:460px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #8eace4
}
.jumbotron .container {
  position:relative;
  top:90px;
}

.jumbotron .btn {
  align-content: center;
  
}


.wishlist {
  background-color: rgb(235, 193, 193);
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
  color: rgb(114, 143, 179);
  font-family: 'Karla', sans-serif;
}

/* missions */
p .staff {
  padding: 2em;
}
.card {
  border-spacing: 10px;
}

.staff-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}



/* testimonials*/
.img-box {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}

.img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

/* Contact */
.contact-form {
  margin-top: 30px;
}

.input-block {
  background-color: rgba(white, .8);
  border: solid 1px $primary-color;
  width: 100%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;


  .focus {
    background-color: $form-bg;
    border: solid 1px darken($primary-color, 10%);
  }

  .textarea {
    height: auto;
  }

  label {
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #597294;
    font-size: 18px;
    line-height: 10px;
  }

  .form-control {
    background-color: transparent;
    padding: 0;
    border: none;
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: $secondary-color;
  }

  .form-control:focus {
    label {
      top: 0;
    }
  }
}

.square-button {
  background-color: rgba(rgb(123, 138, 155), .8);
  color: darken($primary-color, 10%);
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}


.contact-wrap {
  padding: 15px;
}

h1  {
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

  small {
    font-size: 18px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
  }
}
/* Contact */

/* footer */
footer {
  background-color: rgb(235, 193, 193);
}

footer .btn {
  background-color: rgb(86, 128, 243);
  color: black;
  margin-top: 40px;
}
/* media */
@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }

  #icon {
    max-width: 150px;
  }

  h2 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.3em;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .row-to-column {
    flex-direction: column;
  }
}

